  <div class="pin-panel-container">
    <div class="pin-panel">

      <a href="#/pins/new">
        <img class="img-pin" src="https://s3-us-west-1.amazonaws.com/polaris-tack-main/pin.svg" width="100%"></img>
      </a>

      <div class="pin-footer">
        <div class="add-pin-holder row">
          <button class="btn btn-success add-pin col-xs-12">Create New Pin</button>
        </div>
      </div>

    </div>
  </div>

<% pins.each(function (pin) { %>
  <% var displayName = pin.get('user').escape('name').slice(0, 15) || pin.get('user').escape('email').slice(0, 15) %>

  <div class="pin-panel-container">
    <div class="pin-panel">

      <a href="#/pins/<%=pin.escape("id")%>">
        <img class="img-pin" src="<%= pin.escape("image_url") %>" width="100%"></img>
      </a>

      <div class="pin-description">
        <% if (pin.get("description").length > 200) { %>
          <%= pin.escape("description").slice(0, 197) + "..." %>
        <% } else {%>
          <%= pin.escape("description").slice(0, 200) %>
        <% }%>
      </div>

      <div class="pin-footer">
        <a href="#/users/<%= pin.get('user').escape('id') %>">
          <img class="pin-mini-avatar" src="<%= pin.get('user').escape('avatar_url') %>" alt="<%= displayName %>"></img>
        </a>

        <span class="pin-author-note">
          <p class="pin-author-name">
            <a href="#/users/<%= pin.get("user").escape("id") %>">
              <strong><%= displayName %></strong>
            </a>
          </p>
          <p class="pin-board-name">
            <a href="#/boards/<%= pin.get("board").escape("id") %>">
              <strong><%= pin.get("board").escape("name").slice(0, 15) %></strong>
            </a>
          </p>
        </span>
      </div>

    </div>
  </div>
<% }); %>

<script type="text/javascript">
  var wall = new freewall(".panel-box");
  wall.reset({
    selector: '.pin-panel-container',
    animate: true,
    cellW: 236,
    cellH: 'auto',
    onResize: function() {
      wall.fitWidth();
    }
  });

  var images = wall.container.find('.pin-panel-container');
  var length = images.length;
  images.css({visibility: 'hidden'});
  images.find('img').load(function() {
    -- length;
    if (!length) {
      setTimeout(function() {
        images.css({visibility: 'visible'});
        wall.fitWidth();
      }, 505);
    }
  });
</script>